<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Cocktail Home</title>
      <!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
    </head>
    <body>
        <h1>Cocktails Made to Order!</h1>
        <section>
            <h3>Tonight's Drink Menu:</h3>
            <label for="French">French 75</label>
                <input type="radio" id="French" name="drinks" value="French">
            <label for="Old">Old Fashioned</label>
                <input type="radio" id="Old" name="drinks" value="French">
            <label for="Mule">Moscow Mule</label>
                <input type="radio" id="Mule" name="drinks" value="French">
            <label for="Man">Manhattan</label>
                <input type="radio" id="Man" name="drinks" value="French">
            <label for="Martini">Martini</label>
                <input type="radio" id="Martini" name="drinks" value="French">
                <br>
                <input type="submit" onclick="">
        </section>
    </body>

</html>